@font-face {
    font-family: "Quattrocento";
    src: url("./fonts/Quattrocento-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quattrocento";
    src: url("./fonts/Quattrocento-Bold.ttf") format("truetype");
}

.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    background-color: #00000F;
    color: #FFFFFF;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
}

.hash {
    color: #FF0000;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

li a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

li a:hover {
    color: #FF0000;
    text-decoration: underline;
}

footer {
    color: grey;
}